/*

Author : Imanpal Singh <imanpalsingh@gmail.com>
Date created : 24-11-20

*/

/*
    Change logs : 
    
    26-11-20
     1) Added media query for phones for responsiveness 
*/

:root{
    
    --primaryColor : #fff;
    --primaryColorHighlighted : #14ffec;
    --background :  #212121;

    --green : #38ef7d;
    --darkgreen : #8DC26F;
    --purple : #a162e8;
    --blue :  #00B4DB;   
    --brown : #ff9068;
    --pink : #eaafc8;
    --black : #111;
    --red : #ff004d;
}

a{

    text-decoration: none;
    color:var(--primaryColor);
}

body{

    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--primaryColor);
    font-family: 'Poppins', sans-serif;
}


nav{

    padding-top: 0.4vmax;
    top: 0px;
    width: 100%;
    display: flex;
    position: fixed;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    background-color: inherit; 
    z-index: 1; 
    animation: 1s ease-out 0s 1 mastentry;
    
}

/* Ids */

#about{

    display: flex;
    margin : 8vmax 3.8vmax 3vmax;
    flex-direction: row;
    justify-content: center;

}


#skills{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 3vmax;
    animation: 2s ease-out 0s 1 mastentry;
}

#work{

    background-color: var(--black);
    display: flex;
    flex-direction: column;
    padding-top: 3vmax;
}

#contact{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 2vmax;
}

/* classes */

.bio{

    text-align: left;
    font-size: 1vmax;
}

.cmp-img{

    font-size: 23vmax;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--green)), to(var(--purple)));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition : background 1s linear 0s;
    animation: 1s ease-out 0s 1 mastentry;
    
}

.contact-details{

    margin: 0.3vmax auto 3vmax auto;
    display: flex;
    
    justify-content: space-evenly;
    
}

.cmp-img:hover{

    background: var(--purple);  
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    

}

.contact-ico{

    font-size: 2vmax;

}

.contact-me{

    align-self: center;
    text-align: center;
    align-content: center;
}

.contact-text{

    position: relative;
    display: inline-block;
    text-align: justify;
    width: 60%;
}


.email:hover, .github-cont:hover{

    color: var(--primaryColorHighlighted);
}

.email, .github-cont, .phone{
    color: white;
}

.email, .email-container, .github-container, .github-cont, .phone, .phone-container{

    margin: 3vmax 2vmax 1vmax 1vmax;  
}

.error{
    color : var(--red);
}

.fcenter{

    display: inline-block;
    border-color: var(--pink)
}

.github-alone{
    
    font-size: 2.0vmax;
}

.github-button{

    padding-right: 0.3vmax;
}

.github-alone:hover, .navlink:hover, .link:hover{
    
    color: var(--primaryColorHighlighted);
}

.iconholder{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1.5vmax 12.0vmax 0.8vmax 12.0vmax;
    font-size: 2.0vmax;
    color : var(--pink);
}

.introtext{

    margin-left: 5.5vmax;
    position: relative;
    max-width: 40%;
    animation: 1s ease-out 0s 1 mastentry;
    
}

.link{

    font-weight: lighter;
    color : var(--primaryColor);
}

.ml{

    font-weight: bold;
}


.name{

    font-size: 6vmax;
    font-family: 'Sacramento', cursive;

    background: -webkit-gradient(linear, right bottom, left top, from(var(--primaryColorHighlighted)), to(var(--darkgreen)));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
        
}

.navbaritem{

    display: inline-block;
    margin: 0.8vmax 4vmax;
}

.navbarlist{

    margin: auto;
}

.navlink{

    letter-spacing: 0.2vmax;
    font-weight: lighter;
    color : var(--primaryColor);
}

.learnmore{

    align-self: center;
    padding: 2vmax;
}


.responsive{
    flex-direction: row-reverse;
}

.section-head{

    letter-spacing: 0.2vmax;
    font-size: 2.6vmax;
    color : var(--primaryColorHighlighted);

    border: 1px solid;
    border-top : none;
    border-left: none;
    border-right: none; 
    align-self: center;

    border-color: var(--pink);
}

.sgrad1{

    background: -webkit-gradient(linear, left bottom, right top, from(var(--blue)), to(var(--brown)));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.sgrad2{

    background: -webkit-gradient(linear, left top, right top,  from(var(--pink)), to(var(--purple)));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 0.2vmax;
}


.tagline{

    font-size: 1.4vmax;
    text-align: left;
}

.viewgithub{

    background-color: inherit;
    border: 1px solid white;
    color:inherit;
    padding : 0.7vmax;
    font-size: 1vmax;
    float : left;
    cursor: pointer;
}

.viewgithub:hover{

    background-color : var(--background);

}

.workbody{

    background-color: inherit;

    text-align: center;
    align-self: center;

    width: 50%;
    border: 1px solid;
    border-radius: 0.5vmax;

    display: inline-block;
    
    padding : 0vmax 2vmax 1.5vmax 2vmax;
    margin-top: 2vmax;
  
}

.workdetail{

    text-align: justify;
    font-size: 1.1vmax;
}

.workhead{

    font-size: 1.8vmax;
    letter-spacing: 0.3vmax;
}

.worktitle{

    letter-spacing: 0.2vmax;
    font-size: 1.3vmax;
    font-weight: normal;
}

.responsive-menu{
    display: none;
}

.navico{

    font-size: 1.8vmax;
    -webkit-text-stroke: 1px black;
}

.name-holder{
    display: flex;
    flex-direction: row;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: transparent ;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: -webkit-gradient(linear, left top, right top,  from(var(--pink)), to(var(--purple)));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background:var(--purple);
}


@keyframes mastentry {
    0% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0);
    }
}


/* For phones */
@media (min-width : 100px) and (max-width : 900px){
    
    
    #about{
        
        flex-wrap: wrap;
    }
    
    #skills{
        
        justify-content: space-between;
        padding-bottom: 9vmax;
    }
    
    .bio{
        font-size: 1em;
    }
    
    
    .contact-text{
        width: 85%;
    }
    .contact-details{

        flex-direction: column;
        margin-bottom: 12vmax;
    }

    .cmp-img{
        
        text-align: center;
        width: 100%;
        font-size: 20vmax;
    }
    
    .github-alone{
        
        font-size: 2.4vmax;
    }
    
    .iconholder{

        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin: 2vmax 0 2vmax;
        padding: 0;
    }
    
    .introtext{

        margin: 2vmax 0 0;
        max-width: 100%;
    }
    
    .name{

        font-size: 12.5vw;

    }

    .name-holder{
        
        flex-wrap: nowrap;
        justify-content: center;
    }
    
    nav{
        
        top: auto;
        bottom: 0;
        white-space: nowrap;
    }
    
    .navico{
        
        font-size: 2.4vmax;
    }
    
    .section-head{

        font-size: 3vmax;
    }
    
    .tagline{
        font-size: 1.2em;
    }
    
    .tagline, .bio{
        
        text-align: justify;
    }

    .viewgithub{
        font-size: 1.6vmax;
    }

    .workbody{
        
        width: 85%;
        padding: 2vmax;
    }

    .workdetail{

        font-size: 1.8vmax;
    }

    .workhead{
        font-size: 2.1vmax;
    }

    .worktitle{
        font-size: 1.8vmax;
    }

}

