:root{
    
    --primaryColor : #fff;
    --primaryColorHighlighted : #14ffec;
    --background :  #212121;

    --green : #38ef7d;
    --darkgreen : #8DC26F;
    --purple : #a162e8;
    --blue :  #00B4DB;   
    --brown : #ff9068;
    --pink : #eaafc8;
    --black : #111;
    --red : #ff004d;
}

a{

    text-decoration: none;
    color:var(--primaryColor);
}

body{

    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--primaryColor);
    font-family: 'Poppins', sans-serif;
}


nav{

    padding-top: 0.4em;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    background-color: inherit; 
    z-index: 1; 
}

/* Ids */

#about{

    display: flex;
    margin : 8em 3.8em 3em;
    flex-direction: row;
    justify-content: center;
}


#skills{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 3em;
}

#work{

    background-color: var(--black);
    display: flex;
    flex-direction: column;
    padding-top: 3em;
}

#contact{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 2em;
}

/* classes */

.bio{

    text-align: left;
}

.cmp-img{

    font-size: 20em;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--green)), to(var(--purple)));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition : background 1s linear 0s;
}

.contact-details{

    margin: 0.3em auto 3em auto;
    display: flex;
    
    justify-content: space-evenly
}

.cmp-img:hover{

    background: var(--purple);  
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-ico{

    font-size: 2em;

}

.contact-me{

    align-self: center;
    text-align: center;
    align-content: center;
}

.contact-text{

    position: relative;
    display: inline-block;
    text-align: justify;
    max-width: 60%;
}


.email:hover, .github-cont:hover{

    color: var(--primaryColorHighlighted);
}

.email, .github-cont, .phone{
    color: white;
}

.email, .email-container, .github-container, .github-cont, .phone, .phone-container{

    margin: 3em 2em 1em 1em;  
}

.error{
    color : var(--red);
}

.fcenter{

    display: inline-block;
    border-color: var(--pink)
}

.github-alone{
    
    font-size: 2.0em;
    margin: 0.6rem 3.2em 0.6em 0.6em;
}

.github-button{

    padding-right: 0.3em;
}

.github-alone:hover, .navlink:hover, .link:hover{
    
    color: var(--primaryColorHighlighted);
}

.iconholder{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1.5em 12.0em 0.8em 12.0em;
    font-size: 1.4em;
    color : var(--pink);
}

.introtext{

    margin-left: 5.5em;
    position: relative;
    max-width: 40%;
    
}

.link{

    font-weight: lighter;
    color : var(--primaryColor);
}

.ml{

    font-weight: bold;
}


.name{

    font-size: 5.5em;
    font-family: 'Sacramento', cursive;

    background: -webkit-gradient(linear, right bottom, left top, from(var(--primaryColorHighlighted)), to(var(--darkgreen)));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
        
}

.navbaritem{

    display: inline-block;
    margin: 0.8em 4em;
}

.navbarlist{

    margin: auto;
}

.navlink{

    letter-spacing: 0.2em;
    font-weight: lighter;
    color : var(--primaryColor);
}

.learnmore{

    align-self: center;
    padding: 2em;
}

.rel-git-link{

    position: absolute;
}

.section-head{

    letter-spacing: 0.2em;
    font-size: 2.6em;
    color : var(--primaryColorHighlighted);

    border: 1px solid;
    border-top : none;
    border-left: none;
    border-right: none; 
    align-self: center;

    border-color: var(--pink);
}

.sgrad1{

    background: -webkit-gradient(linear, left bottom, right top, from(var(--blue)), to(var(--brown)));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.sgrad2{

    background: -webkit-gradient(linear, left top, right top,  from(var(--pink)), to(var(--purple)));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 0.2em;
}


.tagline{

    font-size: 1.4em;
    text-align: left;
}

.viewgithub{

    background-color: inherit;
    border: 1px solid white;
    color:inherit;
    padding : 0.7em;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: left;
    cursor: pointer;
}

.viewgithub:hover{

    background-color : var(--background);

}

.workbody{

    background-color: inherit;

    text-align: center;
    align-self: center;

    max-width: 60%;
    border: 1px solid;
    border-radius: 0.5em;

    display: inline-block;
    
    padding : 0em 2em 1.5em 2em;
    margin-top: 2em;
  
}

.workdetail{

    text-align: justify;
}

.workhead{

    font-size: 1.6em;
    letter-spacing: 0.3em;
}

.worktitle{

    letter-spacing: 0.2em;
    font-weight: normal;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: transparent ;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: -webkit-gradient(linear, left top, right top,  from(var(--pink)), to(var(--purple)));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background:var(--purple);
}